# basic structure
snippet #! "shebang"
	#!/usr/bin/csh

# basic syntax
snippet set "variable assignment"
	set ${1:<var>} = ${2:<value>}

snippet setenv "enviroenment variable assignment"
	setenv ${1:<var>} ${2:<value>}
