# basic syntax
snippet set "variable assignment"
	set ${1:<variable name>} ${2:<value>}

snippet if "if control flow"
	if {${1:<condition>}} {
		$0
	}

snippet else "else control flow"
	else {
		$0
	}

snippet foreach "foreach control flow"
	foreach ${1:<var>} ${2:<list>} {
	}

snippet func "function"
	proc ${1:<function name>} {${2:<arguments>}} {
		$0
	}
