snippet template "template of main source file"
	#include <iosteam>
	using namespace std;

	int main()
	{
		return 0
	}

snippet header "template of header file"
	#ifndef ${1:<protect macro>}
	#define $1

	$0

	#endif

snippet source "template of source file"
	#include "`Filename( '$1.h' )`"

	$0
