version 1

# basic structure
snippet setenv "environment variable assignment"
	set env(${1:<variable name>}) ${2:<value>}

snippet decenv "environment variable declaration"
	if { ![info exists env(${1:<variable name>})] } { set env(${1}) ${2:<value>} }

